* {
    background-color:hsl(220, 15%, 55%) ;
    font-family: outfit;
    padding: 5%;
}
.first-box {
    background-color: hsl(212, 45%, 89%);
    padding: 14%;
}
.second-box {
    background-color:  hwb(0 100% 0%);
    padding: 5%;
    -ms-flex-item-align: center;
}
.text {
    background-color:  hwb(0 100% 0%);
    font-size: 15px;
    font-weight: 400;
}
.image-qr-code {
    background-color:  hwb(0 100% 0%);
    -ms-flex-item-align: center;
}